<ActionBar title="RxDB Test"> </ActionBar>

<ScrollView>

  <StackLayout>
    <Button text="add hero" backgroundColor="#FC22EE" (tap)="addHero()"></Button>

    <ng-container
      *ngFor="let hero of databaseService.db?.collections?.hero?.find().$ | async;
      let idx = index"
      >
      <StackLayout orientation="horizontal">
        <StackLayout width="16" height="16" [backgroundColor]="hero.color">

        </StackLayout>
        <Label text="[{{idx+1}}] {{ hero.name }} {{ hero.id }}"></Label>
      </StackLayout>
    </ng-container>

  </StackLayout>
</ScrollView>
